.page-title {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 2rem;
  text-align: start;
}

.content-container {
  text-align: left;
  min-width: 60vw;
}

p {
  line-height: 1.5;
  margin: 1rem 0rem;
}

.line {
  text-decoration: underline;
}